$primary-color: rgba(251, 101, 66, 1);
$background-color: rgba(19, 18, 18, 1);
$text-color: rgba(255, 255, 255, 1);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1420px;
$breakpoint-2xl: 1720px;
$breakpoint-3xl: 1920px;


@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {

  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == 2xl {
    @media (max-width: $breakpoint-2xl) {
      @content;
    }
  } @else if $breakpoint == 3xl {
    @media (max-width: $breakpoint-3xl) {
      @content;
    }
  }
}